In [1]:
import pandas as pd

In [3]:
# betaA = covAM / varM = corrAM * volA / volM
tabla = pd.DataFrame({'p': [0.1, 0.8, 0.10], 'precios': [40, 55, 60]})
tabla['r'] = (tabla['precios'] - 50) / 50
tabla

     p  precios    r
0  0.1       40 -0.2
1  0.8       55  0.1
2  0.1       60  0.2

In [4]:
ErA = (tabla['p'] * tabla['r']).sum()
sA = (tabla['p'] * (tabla['r'] - ErA)**2).sum()**0.5
sA

0.09797958971132713

In [5]:
betaA = 0.8 * sA / 0.1
betaA

0.783836717690617

In [6]:
sB = 0.12
betaB = 0.5 * sB / 0.1
betaB

0.6

In [7]:
0.5 * betaA + 0.5 * betaB

0.6919183588453085